html {
  background-color: #E5E6F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
  height: 600px;

  background-color: #FFF;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}